.perfilScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  align-items: center;

  .perfilScreen__container {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: #fff;
    margin: 3rem 0rem;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    padding: 2rem 5rem;
    justify-content: center;
    margin-top: 8rem;
    .perfilScreen__container-datos {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-sizing: border-box;
      h2 {
        font-weight: 600;
      }
      .data-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        p {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          gap: 0.5rem;
          span {
            font-weight: 400;
            border: #0a7f8d 1px solid;
            width: 100%;
            padding: 0.5rem 3rem 0.5rem 0.4rem;
            border-radius: 8px;
          }
        }
      }
      .btns-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .logOut {
          display: flex;
          justify-content: center;
          border: none;
          background-color: #cf2f2f;
          color: #fff;
          padding: 0.5rem 0.7rem;
          border-radius: 16px;
          font-weight: 600;
          width: 110px;
          box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);

          &:hover {
            cursor: pointer;
            background-color: #cf2f2f;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .perfilScreen .perfilScreen__container {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: #fff;
    margin: 3rem 0rem;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    padding: 2rem 2rem;
  }
  .data-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    p {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      gap: 0.5rem;
      font-size: 14px;
      span {
        font-weight: 400;
        border: #0a7f8d 1px solid;
        width: 80%;
        padding: 0.5rem 1.5rem 0.5rem 0.4rem;
        border-radius: 8px;
      }
    }
  }
}
