//HOME SECTION
.homensection {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .navBar {
    display: flex;
    width: 100%;
    height: 10%;

    a {
      width: 100%;
      height: 100%;
      .LogoBatera {
        width: 150px;
        height: auto;
        padding: 32px;
      }
    }
  }

  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    .menu-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      .homebtns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 10px;
        background: #ffffff;
        border: none;
        /*         border: 1px solid #0a7f8d;
 */
        -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: 0px 0px 12px 1px rgba(10, 127, 141, 0.42);
        box-shadow: 0px 0px 12px 1px rgba(3, 87, 98, 0.42);

        /*         box-shadow: 0px 4px 4px rgba(10, 127, 141, 0.42),
          0px 4px 4px rgba(0, 0, 0, 0.25); */
        border-radius: 30px;
        width: 200px;
        height: 200px;
        .btn-page {
          display: flex;

          background-color: #8eb1c7;
          border: none;
          border-radius: 8px;
          color: #fff;
          font-size: 18px;
          padding: 6px 10px;

          transition: all 0.2s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: #6eaacf;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .homensection {
    display: flex;
    align-items: center;
    flex-direction: column;

    .navBar {
      width: 100%;
      height: 10%;
      a {
        width: 100%;
        height: 100%;
        .LogoBatera {
          width: 110px;
          height: auto;
          padding: 32px;
        }
      }
    }
    .home-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80vh;

      .menu-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .btns {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border: none;
          width: 150px;
          height: 150px;
          /*         border: 1px solid #0a7f8d;*/
          svg {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .homensection {
    display: flex;
    align-items: center;
    flex-direction: column;

    .navBar {
      display: flex;
      width: 100%;
      height: 10%;
      a {
        width: 100%;
        height: 100%;
      }
    }
    .home-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80vh;

      .menu-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .btns {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border: none;
          width: 124px;
          height: 124px;
          /*         border: 1px solid #0a7f8d;*/
          svg {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 590px) {
  .homensection {
    .home-container {
      .menu-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        .btns {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border: none;
          width: 150px;
          height: 150px;
          /*         border: 1px solid #0a7f8d;*/
          svg {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 490px) {
  .homensection {
    .navBar {
      display: flex;
      width: 100%;
      height: 10%;

      a {
        width: 100%;
        height: 100%;
        .LogoBatera {
          width: 85px;
          height: auto;
          padding: 22px;
        }
      }
    }
    .home-container {
      .menu-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        .btns {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border: none;
          width: 110px;
          height: 110px;
          font-size: 12px;
          /*         border: 1px solid #0a7f8d;*/
          svg {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}

//LOGIN SECTION
.loginsection {
  color: #1b1b1b;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  height: 100vh;

  .form-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    flex-direction: column;
    padding: 20px;
    gap: 3rem;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    .navBar {
      display: flex;
      width: 100%;
      height: 55px;
      a {
        width: 100%;
        height: 100%;
        .LogoBatera {
          width: 96px;
          height: 44px;
        }
      }
    }
    .login-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      gap: 6rem;
      h1 {
        font-size: 32px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        /*       height: 100%;
   */
        div {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          input {
            box-shadow: 0px 4px 4px rgba(10, 127, 141, 0.57),
              0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 6px 10px;
            font-size: 18px;
            border: 1px solid rgba(0, 0, 0, 0.22);
            border-radius: 10px;
            &:focus {
              outline: none;
              background-color: #ffffff;
            }
            background-color: #ffffff;
          }
        }
        .btnslogin {
          display: flex;
          width: 100%;
          align-items: end;
          justify-content: center;
          flex-direction: column;
          .btn-page {
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #0a7f8d;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            padding: 4px 8px;
            transition: all 0.2s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: #027581;
            }
          }
        }
      }
      p {
        font-size: 16px;
        color: #1b1b1b;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .loginsection {
    .form-container {
      width: 88%;
      height: 88%;
      gap: 2rem;
      .login-container {
        form {
          .btns {
            width: 100%;
            .btn-page {
              width: 100%;
            }
          }
        }
        p {
          font-size: 18px;
        }

        .btnslogin {
          .btn-page {
            font-size: 16px;
          }
        }

      }
    }
  }
}

@media screen and (max-height: 700px) {
  .loginsection {
    .form-container {
      width: 80%;
      height: 80%;
      gap: 2rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;

        a {
          width: 100%;
          height: 100%;
        }
      }
      .login-container {
        gap: 4rem;
        p {
          font-size: 18px;
        }
        .btnslogin {
          .btn-page {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 570px) {
  .loginsection {
    .form-container {
      width: 80%;
      height: 80%;
      gap: 1rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;

        a {
          width: 100%;
          height: 100%;
        }
      }
      .login-container {
        h1 {
          font-size: 18px;
        }
        form {
          div {
            input {
              font-size: 14px;
            }
          }
          .btnslogin {
            .btn-page {
              font-size: 14px;
            }
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-height: 510px) {
  .loginsection {
    .form-container {
      width: 80%;
      height: 80%;
      gap: 1rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;

        a {
          width: 100%;
          height: 100%;
        }
      }
      .login-container {
        gap: 1rem;
        h1 {
          font-size: 16px;
        }
        form {
          div {
            input {
              font-size: 14px;
            }
          }
          .btnslogin {
            .btn-page {
              font-size: 14px;
            }
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-height: 360px) {
  .loginsection {
    .form-container {
      width: 70%;
      height: 88%;
      gap: 1rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;
        a {
          width: 100%;
          height: 100%;
          .LogoBatera {
            width: 62px;
            height: 30px;
          }
        }
      }
      .login-container {
        h1 {
          font-size: 16px;
          padding-top: 8px;
        }
        form {
          div {
            input {
              font-size: 14px;
            }
          }
          .btnslogin {
            .btn-page {
              font-size: 14px;
            }
          }
        }
        p {
          font-size: 16px;
          padding-bottom: 8px;
        }
      }
    }
  }
}

//SIGNUP SECTION
.signupsection {
  color: #1b1b1b;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  height: 100vh;

  .form-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    flex-direction: column;
    padding: 20px;
    gap: 3rem;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    .navBar {
      display: flex;
      width: 100%;
      height: 55px;
      a {
        width: 100%;
        height: 100%;
        .LogoBatera {
          width: 96px;
          height: 44px;
        }
      }
    }
    .register-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      gap: 6rem;
      h1 {
        font-size: 32px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        /*       height: 100%;
   */
        div {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          input {
            box-shadow: 0px 4px 4px rgba(10, 127, 141, 0.57),
              0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 6px 10px;
            font-size: 18px;
            border: 1px solid rgba(0, 0, 0, 0.22);
            border-radius: 10px;
            &:focus {
              outline: none;
              background-color: #ffffff;
            }
            background-color: #ffffff;
          }
        }
        .btnslogin {
          display: flex;
          width: 100%;
          align-items: end;
          justify-content: center;
          flex-direction: column;
          .btn-page {
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #0a7f8d;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            padding: 4px 8px;
            transition: all 0.2s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: #027581;
            }
          }
        }
      }
      p {
        font-size: 16px;
        color: #1b1b1b;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .signupsection {
    .form-container {
      width: 88%;
      height: 88%;
      gap: 2rem;
      .register-container {
        form {
          .btns {
            width: 100%;
            .btn-page {
              width: 100%;
            }
          }
        }
        p {
          font-size: 18px;
        }
        .btnslogin {
          .btn-page {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .signupsection {
    .form-container {
      width: 80%;
      height: 80%;
      gap: 2rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;

        a {
          width: 100%;
          height: 100%;
        }
      }
      .register-container {
        gap: 4rem;
        p {
          font-size: 18px;
        }
        .btnslogin {
          .btn-page {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 570px) {
  .signupsection {
    .form-container {
      width: 80%;
      height: 80%;
      gap: 1rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;

        a {
          width: 100%;
          height: 100%;
        }
      }
      .register-container {
        h1 {
          font-size: 18px;
        }
        form {
          div {
            input {
              font-size: 14px;
            }
          }
          .btnslogin {
            .btn-page {
              font-size: 14px;
            }
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-height: 510px) {
  .signupsection {
    .form-container {
      width: 80%;
      height: 80%;
      gap: 1rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;

        a {
          width: 100%;
          height: 100%;
        }
      }
      .register-container {
        gap: 1rem;
        h1 {
          font-size: 16px;
        }
        form {
          div {
            input {
              font-size: 14px;
            }
          }
          .btnslogin {
            .btn-page {
              font-size: 14px;
            }
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-height: 360px) {
  .signupsection {
    .form-container {
      width: 70%;
      height: 88%;
      gap: 1rem;
      box-sizing: border-box;
      .navBar {
        display: flex;
        width: 100%;
        height: 10%;
        a {
          width: 100%;
          height: 100%;
          .LogoBatera {
            width: 62px;
            height: 30px;
          }
        }
      }
      .register-container {
        h1 {
          font-size: 16px;
          padding-top: 8px;
        }
        form {
          div {
            input {
              font-size: 14px;
            }
          }
          .btnslogin {
            .btn-page {
              font-size: 14px;
            }
          }
        }
        p {
          font-size: 16px;
          padding-bottom: 8px;
        }
      }
    }
  }
}

//CALENDARIO
.calendario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.calendario-container {
  font-family: "Raleway", sans-serif;
}

.calendario {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.16);
}
